body {
    background-image: url(https://image.freepik.com/free-photo/gray-clean-paperboard_95678-95.jpg);
   }

h1{
    text-align: center;
}

.container{
        background-color: white;

} 

#cute-husky-pic {
}

#footer{
    background-color:rgb(102,102,102);
    border-top: solid, cadetblue, 10px;
    color: white;
    text-align: center;
}