#navbar {
    background-color: white;
}

#Namebar {
    background-color: cadetblue;
    color: white;
}

body {
    background-image: url(https://image.freepik.com/free-photo/gray-clean-paperboard_95678-95.jpg);
   }

h1{
    background-color: cadetblue;
    color: white;
    text-align: center;
}

.container{
        background-color: white;
        max-width: 90%;
} 

#huskytext{
    margin-top: 15px;
}

#footer{
    background-color:rgb(102,102,102);
    border-top: solid, cadetblue, 10px;
    color: white;
    text-align: center;
}