

.rlrName {
    background-color: cadetblue;
    color: white;
}

body {
    background-image: url(https://image.freepik.com/free-photo/gray-clean-paperboard_95678-95.jpg);
   }
#navbarName {
    background-color: cadetblue;
    color: white
}


h1{
    background-color: white;
    color: cadetblue;
}

h2 {
    background-color: white;
    color: cadetblue;
}
/* ask how to change size of container*/
.container {
    max-width: 60%;
    position: relative;
    top: 20px;
    right: 75px;
    background-color: white;
}

.portfolioImg {
    margin: 10px 5px;

}

#header-row {
    border-bottom: cadetblue, solid, 5px;
}
#footer{
    background-color:rgb(102,102,102);
    border-top: solid, cadetblue, 10px;
    color: white;
    text-align: center;
    position: relative;
    top: 200px;
}
/* Media Queries */

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (min-width: 600px) {
    div.example {
      display: none;
    }
  }